<footer>
  <section id="footer">
    <div class="company">
      <a href="/" target="_blank" id="store_logo"
        >DIGITAL BOOK STORE</a>
      <p>
        An easy solution to help you manage your books and inventory!
      </p>
      <div class="social_media">
        <h1>SOCIAL MEDIA</h1>
        <div>
          <a href="https://www.facebook.com/"
            ><img src="./images/facebook.png" alt="facebook"
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="./images/instagram.png" alt="instagram"
          /></a>
          <a href="https://twitter.com/home?lang=en"
            ><img src="./images/twitter.png" alt="twitter"
          /></a>
          <a href="https://www.linkedin.com/in/bhupesh-shrestha-04/"
            ><img src="./images/linkedin.png" alt="linkedin"
          /></a>
        </div>
      </div>
    </div>
    <hr />

    <div class="quick_links">
      <h1>Quick Links</h1>
      <ul>
        <li><a href="/">Inventory Management System</a></li>
        <li><a href="/g">Order Management System</a></li>
        <li><a href="/g2">Website</a></li>
      </ul>
    </div>
    <hr />

    <div class="stay_in_touch">
      <h1>Quick Codes</h1>
      <ul>
        <li>100: Call the Manager</li>
        <li>101: Need someone to cover</li>
        <li>102: Open another register</li>
        <li>103: Technical Difficulties</li>
      </ul>
    </div>
    <hr />

    <div class="recent_posts">
      <h1>Recent Posts</h1>
      <article class="recent_post">
        <img src="/images/new-book.jpg" alt="recent" />
        <h2 class="description">New Books By John</h2>
        <p class="date_author">Sept 22, 2022 By Jane Doe</p>
      </article>
      <article class="recent_post">
        <img src="/images/award-book.png" alt="recent" />
        <h2 class="description">XYZ wins the award</h2>
        <p class="date_author">Sept 22, 2022 By John Doe</p>
      </article>
    </div>
  </section>
  <div id="font_configuration">
    <p id="decrease">-</p>
    <p id="font_size">Font Size</p>
    <p id="increase">+</p>
  </div>
  <p id="members">Ayush Daverani (8786826), Bhupesh Shrestha (8811567)</p>
  <p>Copyright &copy; 2022 | Digital Book Store Solutions</p>
</footer>
